{% extends 'base.html' %}


{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container py-5">

    <div class="container py-4">

        <h2 class="text-center text-success mb-4">Identification et parenté</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead id="theadthid">
                    <tr>
                        <th>Numéro d'identification</th>
                        <th>Date de naissance</th>
                        <th>Sexe</th>
                        <th>Race</th>
                        <th>Numéro de la mère (DAM)</th>
                        <th>Numéro du père (SIRE)</th>
                        <th>Great DAM</th>
                        <th>Grand SIRE</th>
                        <th>Taille de la portée à la naissance</th>
                        <th>Couleurs et marques</th>
                        <th>Anomalies</th>
                    </tr>
                </thead>
                <tbody id="tbodydata">
                    <tr>
                        <td>{{ gen.animal_id }}</td>
                        <td>{{ gen.dob|default:"vide" }}</td>
                        <td>{{ gen.gender|default:"vide" }}</td>
                        <td>{{ gen.breed|default:"vide" }}</td>
                        <td>{{ gen.dam_no|default:"vide" }}</td>
                        <td>{{ gen.sire_no|default:"vide" }}</td>
                        <td>{{ gen.grand_dam|default:"vide" }}</td>
                        <td>{{ gen.grand_sire|default:"vide" }}</td>
                        <td>{{ gen.colitter_size_of_birth|default:"vide" }}</td>
                        <td>{{ gen.color_and_marking|default:"vide" }}</td>
                        <td>{{ gen.abnormalities|default:"vide" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <h2 class="text-center text-success mb-4">Paramètres d'Efficacité</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date de sevrage</th>
                        <th>Taille de la portée au sevrage</th>
                        <th>Âge au sevrage (en jours)</th>
                        <th>Poids au sevrage</th>
                        <th>Date de séparation du mâle</th>
                        <th>Date de maturité sexuelle</th>
                        <th>Poids à la maturité sexuelle</th>
                        <th>Poids à six mois</th>
                        <th>Poids à huit mois</th>
                        <th>Conformation à huit mois</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ efficiency.dow|default:"vide" }}</td>
                        <td>{{ efficiency.litter_size_weaning|default:"vide" }}</td>
                        <td>{{ efficiency.weaning_age|default:"vide" }}</td>
                        <td>{{ efficiency.weaning_weight|default:"vide" }}</td>
                        <td>{{ efficiency.dos|default:"vide" }}</td>
                        <td>{{ efficiency.dosm|default:"vide" }}</td>
                        <td>{{ efficiency.sexual_maturity_weight|default:"vide" }}</td>
                        <td>{{ efficiency.weight_six|default:"vide" }}</td>
                        <td>{{ efficiency.weight_eight|default:"vide" }}</td>
                        <td>{{ efficiency.conform_at_eight|default:"vide" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        



        <h2 class="text-center text-success mb-4">Services et caractères de portée</h2>


<div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr >
            <th scope="col"> Serial Number</th>
            <th scope="col"> Numéro d'identification </th>
            <th scope="col"> Boar Number</th>
            <th scope="col"> Date de service </th>
            <th scope="col"> Nature du Service</th>
            <th scope="col"> Date Of Farrowing</th>
            <th scope="col"> Date of Weaning</th>
            <th scope="col"> Interfarrowing Interval</th>
            <th scope="col"> Parity</th>
            <th scope="col"> Number of male born</th>
            <th scope="col"> Number of female born</th>
            <th scope="col"> Total Number</th>
            <th scope="col"> Litter Weight At Birth</th>
            <th scope="col"> Number Of Weaned Male</th>
            <th scope="col"> Number Of Weaned Female</th>
            <th scope="col"> Number Of Total Weaned</th>
            <th scope="col"> Weaning Weight</th>
            <th scope="col"> Still Birth Or Abnormality</th>
            <th scope="col"> Date Of Abortion</th>      
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for service in services %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ service.gip }}</td>
            <td>{{ service.boar_no|default:"vide" }}</td>
            <td>{{ service.dos|default:"vide" }}</td>
            <td>{{ service.nos|default:"vide" }}</td>
            <td>{{ service.dof|default:"vide" }}</td>
            <td>{{ service.dow|default:"vide" }}</td>
            <td>{{ service.interfarrowing_interval|default:"vide" }}</td>
            <td>{{ service.parity|default:"vide" }}</td>
            <td>{{ service.born_male|default:"vide" }}</td>
            <td>{{ service.born_female|default:"vide" }}</td>
            <td>{{ service.born_total|default:"vide" }}</td>
            <td>{{ service.litter_weight_birth|default:"vide" }}</td>
            <td>{{ service.weaned_male|default:"vide" }}</td>
            <td>{{ service.weaned_female|default:"vide" }}</td>
            <td>{{ service.total_weaned|default:"vide" }}</td>
            <td>{{ service.weaning_weight|default:"vide" }}</td>
            <td>{{ service.still_birth_abnormality|default:"vide" }}</td>
            <td>{{ service.date_of_abortion|default:"vide" }}</td>

            
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>

  
  <h2 class="text-center text-success mb-4">Statistiques Globales</h2>
  <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                 
                  <th>Nombre total d'animaux nés</th>
                  <th>Poids total des portées à la naissance</th>
                  <th>Nombre total d'animaux sevrés</th>
                  <th>Poids total des portées au sevrage</th>
                  <th>Mortalité pré-sevrage (en %)</th>
                  
              </tr>
          </thead>
          <tbody>
              {% for service in services %}
              <tr>
                 
                  <td>{{ born_sum|default:"vide" }}</td>
                  <td>{{ total_born_weight|default:"vide" }} kg</td>
                  <td>{{ weaned_sum|default:"vide" }}</td>
                  <td>{{ total_weaned_weight|default:"vide" }}</td>
                  <td>{{ preweaning_mortality|floatformat:2|default:"vide" }}</td>
                  
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

  <h2 class="text-center text-success mb-4">Vaccination</h2>

<div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr >
                  <th scope="col">Numéro de série,</th>
                  <th scope="col">Disease</th>
                  <th scope="col">Make</th>
                  <th scope="col">First Dose</th>
                  <th scope="col">Booster Dose</th>
                  <th scope="col">Repeat</th>
                  
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for vaccine in vaccinations %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ vaccine.disease|default:"vide" }}</td>
            <td>{{ vaccine.make|default:"vide" }}</td>
            <td>{{ vaccine.first_dose|default:"vide" }}</td>
            <td>{{ vaccine.booster_dose|default:"vide" }}</td>
            <td>{{ vaccine.repeat|default:"vide" }}</td>

            
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>


  <h2 class="text-center text-success mb-4">Données Vétérinaires</h2>

<div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr >
                  <th scope="col">Numéro de série,</th>
                  <th scope="col">Reason/Symptom</th>
                  <th scope="col">Date of Treatment</th>
                  <th scope="col">Medication</th>
                  <th scope="col">Remarks</th>
                  
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for vet_exam in vetexams %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ vet_exam.reason|default:"vide" }}</td>
            <td>{{ vet_exam.date_of_treatment|default:"vide" }}</td>
            <td>{{ vet_exam.medication|default:"vide" }}</td>
            <td>{{ vet_exam.remarks|default:"vide" }}</td>

            
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>



  <h2 class="text-center text-success mb-4">Nutrition</h2>

<div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr >
                  <th scope="col">Numéro de série,</th>
                  <th scope="col">Treatment</th>
                  <th scope="col">Make</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Remarks</th>
                  
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for nutrition in nutritions %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ nutrition.treatment|default:"vide" }}</td>
            <td>{{ nutrition.make|default:"vide" }}</td>
            <td>{{ nutrition.start_date|default:"vide" }}</td>
            <td>{{ nutrition.end_date|default:"vide" }}</td>
            <td>{{ nutrition.remarks|default:"vide" }}</td>

            
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>



  <h2 class="text-center text-success mb-4">Décès et vente</h2>
  <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>Cause du décès</th>
                  <th>Date du décès</th>
                  <th>Constat post-mortem</th>
                  <th>Raison de la vente</th>
                  <th>Date de vente</th>
                  <th>Poids à la vente</th>
                  <th>Revenu généré</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ death.cause_death|default:"vide" }}</td>
                  <td>{{ death.date_death|default:"vide" }}</td>
                  <td>{{ death.postmortem_findings|default:"vide" }}</td>
                  <td>{{ disposal.reason|default:"vide" }}</td>
                  <td>{{ disposal.sale_date|default:"vide" }}</td>
                  <td>{{ disposal.weight_sale|default:"vide" }}</td>
                  <td>{{ disposal.revenue|default:"vide" }}</td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- <h2 class="text-center text-success mb-4">Vente</h2>
  <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                 
                  <th>Reason For Sale/Transfer</th>
                  <th>Date Of Sale/Transfer</th>
                  <th>Weight At Sale/Transfer</th>
                  <th>Revenue Generated</th>
                  <th>Book Value</th>
                  <th>Amount Realized</th>
                  
              </tr>
          </thead>
          <tbody>
              {% for service in services %}
              <tr>
                 
                  <td>{{ disposal.reason }}</td>
                  <td>{{ disposal.sale_date }}</td>
                  <td>{{ disposal.weight_sale }}</td>
                  <td>{{ disposal.revenue }}</td>
                  <td>{{ economic.book_value }}</td>
                  <td>{{ economic.amount_realized }}</td>
                  
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div> -->






<form>
            <button class="btn btn-success btn-lg" type="submit" formaction="/report">Retour</button>
    </form>



</div>
</div>

{% endblock content %}   
        
             