{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">

    <div class="row">
<div class="container py-4">
    <h2 class="text-center text-success mb-4">Identification et parenté</h2>


    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead id="theadthid">
                <tr>
                    <th>Numéro d'identification</th>
                    <th>Date de naissance</th>
                    <th>Sexe</th>
                    <th>Race</th>
                    <th>Numéro de la mère (DAM)</th>
                    <th>Numéro du père (SIRE)</th>
                    <th>Great DAM</th>
                    <th>Grand SIRE</th>
                    <th>Taille de la portée à la naissance</th>
                    <th>Couleurs et marques</th>
                    <th>Anomalies</th>

                </tr>
            </thead>
            <tbody id="tbodydata">
                <tr>
                    <td>{{ gen.animal_id }}</td>
             
                    <td>{{ gen.dob }}</td>
              
                    <td>{{ gen.gender }}</td>
              
                    <td>{{ gen.breed }}</td>
             
                    <td>{{ gen.dam_no }}</td>
              
                    <td>{{ gen.sire_no }}</td>
                
                    <td>{{ gen.grand_dam }}</td>
                
                    <td>{{ gen.grand_sire }}</td>
               
                    <td>{{ gen.colitter_size_of_birth }}</td>
              
                    <td>{{ gen.color_and_marking }}</td>
             
                    <td>{{ gen.abnormalities }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <h2 class="text-center text-success mb-4">Paramàtres d'Efficacités</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped ">
        <thead id="theadthid">
          <tr>
              <th>Date de sevrage</th>
              <!-- <th>Date Of Sale/Transfer</th>
              <th>Weight At Sale/Transfer</th> -->
              <th>Taille de la portée au sevrage</th>
              <th>Âge au sevrage (en jours)</th>
              <th>Poids au sevrage</th>
              <th>Date de séparation de la femelle</th>
              <th>Date of Castration</th>
              <th>Date de maturité sexuelle</th>
              <th>Poids à la maturité sexuelle</th>
              <th>Poids à six mois</th>
              <th>Poids à huit mois</th>
              <th>Conformation à huit mois</th>
  
  
            </tr>
      </thead>
      <tbody id="tbodydata">
          <tr>
  
              <td>{{ efficiency.dow|default_if_none:"N/A"}}</td>
              <td>{{efficiency.litter_size_weaning}} </td>
              <td>{{ efficiency.weaning_age }}</td>
              <td>{{ efficiency.weaning_weight }}</td>

              <td>{{ efficiency.dos }}</td>
              <td>{{ efficiency.doc }}</td>
              <td>{{ efficiency.dosm }}</td>
              <td>{{ efficiency.sexual_maturity_weight }}</td>
              <td>{{ efficiency.weight_six }}</td>
              <td>{{ efficiency.weight_eight }}</td>
              <td>{{ efficiency.conform_at_eight }}</td>

  
  
            </tr>
      </tbody>
  </table>
  </div>


  <h2 class="text-center text-success mb-4">qualification</h2>

  
<div class="table-responsive">
    <table class="table table-bordered table-striped ">
    
      <thead id="theadthid">
          <tr>
              <th>Physical Fitness</th>
              <th>Date Of Onset Of Training</th>
              <th>Period Of Training</th>
              <th>Training Score</th>
              <th>Evaluation Based On Seminal Characteristics</th>
              <th>Suitability For Insemination</th>
              
  
  
            </tr>
      </thead>

      <tbody id="tbodydata">
          <tr>
  
              <td>{{ qualification.physical_fitness }}</td>
              <td>{{ qualification.date_of_training }}</td>
              <td>{{ qualification.period_of_training }}</td>
              <td>{{ qualification.training_score }}</td>
              <td>{{ qualification.seminal_characteristics }}</td>
              <td>{{ qualification.suitability }}</td>
              
  
  
            </tr>
      </tbody>
  
    
  
  </table>
  </div>


  <h2 class="text-center text-success mb-4">Services et Caratères de portée</h2>

<div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr >
            <th scope="col"> Numéro d'identification </th>
            <th scope="col"> SOW Number</th>
            <th scope="col"> Date de service </th>
            <th scope="col"> Nature du Service</th>
            <th scope="col"> Date Of Farrowing</th>
            <!-- <th scope="col"> Interfarrowing Interval</th> -->
            <th scope="col"> Parity</th>
            <th scope="col"> Number of male born</th>
            <th scope="col"> Number of female born</th>
            <th scope="col"> Total Number</th>
            <th scope="col"> Litter Weight At Birth</th>
            <th scope="col"> Number Of Weaned Male</th>
            <th scope="col"> Number Of Weaned Female</th>
            <th scope="col"> Number Of Total Weaned</th>
            <th scope="col"> Weaning Weight</th>
            <th scope="col"> Still Birth Or Abnormality</th>   
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for service in services %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ service.gip }}</td>
            <td>{{ service.sow_no }}</td>
            <td>{{ service.dos }}</td>
            <td>{{ service.dof }}</td>
            <td>{{ service.parity }}</td>
            <td>{{ service.born_male }}</td>
            <td>{{ service.born_female }}</td>
            <td>{{ service.born_total }}</td>
            <td>{{ service.litter_weight_birth }}</td>
            <td>{{ service.weaned_male }}</td>
            <td>{{ service.weaned_female }}</td>
            <td>{{ service.total_weaned }}</td>
            <td>{{ service.weaning_weight }}</td>
            <td>{{ service.still_birth_abnormality }}</td>
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>


  <h2 class="text-center text-success mb-4">Vaccination</h2>

<div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr >
                  <th scope="col">Numéro de série,</th>
                  <th scope="col">Disease</th>
                  <th scope="col">Make</th>
                  <th scope="col">First Dose</th>
                  <th scope="col">Booster Dose</th>
                  <th scope="col">Repeat</th>
                  
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for vaccine in vaccinations %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ vaccine.disease }}</td>
            <td>{{ vaccine.make }}</td>
            <td>{{ vaccine.first_dose }}</td>
            <td>{{ vaccine.booster_dose }}</td>
            <td>{{ vaccine.repeat }}</td>

            
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>


  <h2 class="text-center text-success mb-4">Informations Vétérinaires</h2>

<div class="table-responsive">
      <table class="table table-bordered table-striped ">
          <thead id="theadthid">
            <tr >
                  <th>Numéro de série</th>
                  <th>Reason/Symptom</th>
                  <th>Date of Treatment</th>
                  <th>Medication</th>
                  <th>Remarks</th>
                  
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for vet_exam in vetexams %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ vet_exam.reason }}</td>
            <td>{{ vet_exam.date_of_treatment }}</td>
            <td>{{ vet_exam.medication }}</td>
            <td>{{ vet_exam.remarks }}</td>

            
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>

  <h2 class="text-center text-success mb-4">Mortalité</h2>


  <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead id="theadthid">
            <tr>
                <th>Cause Of Death</th>
                <th>Date Of Death</th>
                <th>Postmortem Findings</th>

            </tr>
        </thead>
        <tbody id="tbodydata">
            <tr>
                <td>{{ death.cause_death }}</td>
            
                <td>{{ death.date_death }}</td>
            
                <td>{{ death.postmortem_findings }}</td>
            </tr>
        </tbody>
    </table>
</div>

        
<h2 class="text-center text-success mb-4">Nutrition</h2>


<div class="table-responsive">
      <table class="table table-bordered table-striped ">
          <thead id="theadthid">
            <tr >
                  <th scope="col">Numéro de série,</th>
                  <th scope="col">Treatment</th>
                  <th scope="col">Make</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Remarks</th>
              </tr>
          </thead>

          <tbody id="tbodydata">

{% for nutrition in nutritions %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ nutrition.treatment }}</td>
            <td>{{ nutrition.make }}</td>
            <td>{{ nutrition.start_date }}</td>
            <td>{{ nutrition.end_date }}</td>
            <td>{{ nutrition.remarks }}</td>
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>

  <h2 class="text-center text-success mb-4">Vente/Transfert</h2>

  
  <div class="table-responsive">
    <table class="table table-bordered table-striped ">
        <thead id="theadthid">
          <tr>
              <th>Reason For Sale/Transfer</th>
  
              <th>Date Of Sale/Transfer</th>
              <th>Weight At Sale/Transfer</th>
              <th>Revenue Generated</th>
  
            </tr>
      </thead>
      <tbody id="tbodydata">
          <tr>
  
              <td>{{ disposal.reason }}</td>
              <td>{{ disposal.sale_date }}</td>
              <td>{{ disposal.weight_sale }}</td>
              <td>{{ disposal.revenue }}</td>
  
  
            </tr>
      </tbody>
  </table>
  </div>


  <!-- <h2 class="text-center text-success mb-4">Revenue/Vente</h2>



<div class="table-responsive">
      <table class="table table-bordered table-striped ">
          <thead id="theadthid">
            <tr>

                <th>Book Value</th>
                <th>Amount Realized</th>
            </tr>
        </thead>
        <tbody id="tbodydata">
            <tr>
                <td>{{ economic.book_value }}</td>
                <td>{{ economic.amount_realized }}</td>
            </tr>
        </tbody>
    </table>
</div> -->


<form>
    <button class="btn btn-success btn-lg" type="submit" formaction="/report">Retour</button>
</form>


</div>
</div>

{% endblock content %}   
        
       
        