{% extends 'base.html' %}


{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container py-5">

    <div class="row">
<!-- <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head> -->

<!-- <body>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body> -->

<div class="container mt-4">
    <h3 class="mb-4 text-center">Add New Animal</h3>

    <!-- Formulaire interactif -->
    <form autocomplete="on" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        
        <!-- Django form rendu avec crispy -->
        <div class="form-row">
            <div class="form-group col-md-12" type="date">

            {{ form|crispy }}

        </div>
    </div>

        <!-- Boutons de navigation -->
        <div class="d-flex justify-content-between mt-4">
            <button class="btn btn-secondary btn-lg" type="submit" formaction="/dataentry/">Retour</button>
            <button class="btn btn-success btn-lg" type="submit">Suivant</button>

        </div>
    </form>
</div>
</div>
</div>


<!-- Flatpickr Activation Script -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr(".flatpickr", {});
    });
</script>


{% endblock content %}
