{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">

    <h1 class="text-center text mb-4">Bienvenue sur BangPig, la solution digitale pour votre élevage !</h1>

    <div class="row">
        <!-- Carte pour le formulaire de saisie de données -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg hover-shadow-lg">
                <div class="card-body text-center">
                    <i class="fas fa-edit fa-3x text mb-3"></i>
                    <h5 class="card-title text">Gestion Complète</h5>
                    <p class="card-text">Ajoutez, modifiez ou supprimez facilement les informations de votre élevage.</p>
                    <form action="/dataentry" method="GET" aria-label="Formulaire de saisie de données">
                        <button class="btn btn-lg" type="submit">Gérer les données</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Carte pour le formulaire de génération de rapports -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow-lg hover-shadow-lg">
                <div class="card-body text-center">
                    <i class="fas fa-chart-line fa-3x text mb-3"></i>
                    <h5 class="card-title text">Consulter les Données</h5>
                    <p class="card-text">Accédez et analysez vos données de manière simple et organisée.</p>
                    <form action="/report" method="GET" aria-label="Formulaire de génération de rapports">
                        <button class="btn  btn-lg" type="submit">Voir les données</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Tableau de Bord</h1>
        <div class="row">
            <!-- Carte pour le total des animaux -->
            <div class="col-md-3 mb-4">
                <div class="card border-0 shadow-lg hover-shadow-lg">
                    <div class="card-body text-center">
                        <h6 class="card-title text">Total des animaux</h6>
                        <p class="card-text display-4">{{ total_animals }}</p>
                    </div>
                </div>
            </div>
    
            <!-- Carte pour le total des femelles -->
            <div class="col-md-3 mb-4">
                <div class="card border-0 shadow-lg hover-shadow-lg">
                    <div class="card-body text-center">
                        <h5 class="card-title text">Total des femelles</h5>
                        <p class="card-text display-4">{{ total_females }}</p>
                    </div>
                </div>
            </div>
    
            <!-- Carte pour le total des mâles -->
            <div class="col-md-3 mb-4">
                <div class="card border-0 shadow-lg hover-shadow-lg">
                    <div class="card-body text-center">
                        <h5 class="card-title text">Total des mâles</h5>
                        <p class="card-text display-4">{{ total_males }}</p>
                    </div>
                </div>
            </div>
    
            <!-- Carte pour le total des porcelets -->
            <div class="col-md-3 mb-4">
                <div class="card border-0 shadow-lg hover-shadow-lg">
                    <div class="card-body text-center">
                        <h5 class="card-title text">Total des porcelets</h5>
                        <p class="card-text display-4">{{ total_piglets }}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Graphiques -->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center">Répartition des animaux par sexe</p>
                        {{ fig_population|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center">Évolution du nombre d'animaux enregistrés par mois</p>
                        {{ fig_evolution_population|safe }}
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        
                        <p class="card-title text-center">Répartition des vaccins par maladie</p>
                        
                        {{ fig_vaccins|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center">Doses de vaccination</p>
                        {{ fig_vaccination_doses|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if recommended_pairs %}

    <div class="container mt-4">

    <h1 class="text-center mb-4">Meilleures Combinaisons de Reproduction</h1>

    <table class="table table-bordered table-striped">
        <thead id="theadthid">
            <tr>
                <th>Mâle</th>
                <th>Femelle</th>
                <th>Poids Mâle (kg)</th>
                <th>Poids Femelle (kg)</th>
                <th>Taille de portée attendue</th>
            </tr>
        </thead>

        {% for pair in recommended_pairs %}
        <tbody id="tbodydata">

            <tr>
                <td>{{ pair.male_id|default:"vide" }}</td>
                <td>{{ pair.female_id|default:"vide" }}</td>
                <td>{{ pair.male_weight|default:"vide" }}</td>
                <td>{{ pair.female_weight|default:"vide" }}</td>
                <td>{{ pair.expected_litter_size|default:"vide" }}</td>
            </tr>

        </tbody>
    {% endfor %}
    </table>
    {% else %}
<div class="container mt-4">

    <h1 class="text-center mb-4">Meilleures Combinaisons de Reproduction</h1>

    <table class="table table-bordered table-striped">
        <thead id="theadthid">
            <tr>
                <th>Mâle</th>
                <th>Femelle</th>
                <th>Poids Mâle (kg)</th>
                <th>Poids Femelle (kg)</th>
                <th>Taille de portée attendue</th>
            </tr>
        </thead>

        <tbody id="tbodydata">

            <tr>
                <td>{{ pair.male_id|default:"vide" }}</td>
                <td>{{ pair.female_id|default:"vide" }}</td>
                <td>{{ pair.male_weight|default:"vide" }}</td>
                <td>{{ pair.female_weight|default:"vide" }}</td>
                <td>{{ pair.expected_litter_size|default:"vide" }}</td>
            </tr>

        </tbody>
    </table>
    

</div>    

{% endif %}
</div>

<!-- Lien vers le CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Ajouter les icônes Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<style>
body {
    background: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card-text {
    font-size: 1.1em;
    color: #666;
}

button {
    font-size: 1.1em;
    padding: 12px 20px;
    background: linear-gradient(120deg, #d6d2d2, #f9f6f6);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    color: white;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

footer {
    font-size: 0.9em;
    color: #333;
}

td{
    border:1px ,solid black;
}
table{
    border-collapse: collapse;
}
</style>

{% endblock content %}
