{% extends 'basex.html' %}


{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5">

    <div class="row">
<div class="container py-4">
    Cette fonctionnalité vise à afficher les statistiques sur les porcelets sevrés dans une période donnée. 
    Elle permet de visualiser le nombre total de porcelets sevrés (mâles et femelles) et leur poids total au moment du sevrage.
<form autocomplete="off" method="POST">
  {% csrf_token %}
  {{form|crispy}}
      <button class="btn btn-success btn-lg float-right" type="submit">Rechercher</button>
</form>
<p>Male</p>
<p>Nombre de porcelets sevrés : {{malecount}}</p>
<p>Poids des porcelets sevrés : {{maleweight}}</p>
<p>Female</p>
<p>Nombre de porcelets sevrés : {{femalecount}}</p>
<p>Poids des porcelets sevrés : {{femaleweight}}</p>
<form>
            <button class="btn btn-success btn-lg" type="submit" formaction="/report">Retour</button>
    </form>
</div>
</div>

{% endblock content %}>