{% extends 'base.html' %}


{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5">

    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="display-5">Gestion des Services</h2>
            <p class="text-muted">Tableau récapitulatif des services et options de gestion.</p>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-md-10">
            <form action="" method="POST" class="shadow p-4 rounded bg-light">
                {% csrf_token %}
                <h4 class="mb-4">Ajouter un service</h4>
                {{ form|crispy }}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-lg">Ajouter</button>
                </div>
            </form>
        </div>
    </div>



    <div class="row justify-content-center mb-5">
        <div class="col-md-12">
    <div class="table-responsive shadow rounded">
        <table class="table table-bordered table-striped">


            <thead class="thead-dark">
                <tr >
            <th scope="col"> Numéro de serie</th>
            <th scope="col"> Numéro d'identification </th>
            <th scope="col"> Identifiant du verrat</th>
            <th scope="col"> Date de service(Accouplement) </th>
            <th scope="col"> Nature du Service</th>
            <th scope="col"> Date de mise bas</th>
            <th scope="col"> Date de sevrage</th>
            <th scope="col"> Intervalle entre mises bas</th>
            <!-- <th scope="col"> Parité</th> -->
            <th scope="col"> Nombre de mâles nés</th>
            <th scope="col"> Nombre de femelles nées</th>
            <th scope="col"> Nombre total de naissance</th>
            <th scope="col"> Taille de la portée à la naissance</th>
            <th scope="col"> Nombre de mâles sevrés</th>
            <th scope="col"> Nombre de femelles sevrées</th>
            <th scope="col"> Nombre total de sevré</th>
            <th scope="col"> Poids au sevrage</th>
            <th scope="col"> Mort-né ou anomalie</th>
            <th scope="col"> Date d’avortement</th>
            <th scope="col"> Supprimer</th>      
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for service in services %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ service.gip }}</td>
            <td>{{ service.boar_no }}</td>
            <td>{{ service.dos }}</td>
            <td>{{ service.nos }}</td>
            <td>{{ service.dof }}</td>
            <td>{{ service.dow }}</td>
            <td>{{ service.interfarrowing_interval }}</td>
            <td>{{ service.parity }}</td>
            <td>{{ service.born_male }}</td>
            <td>{{ service.born_female }}</td>
            <td>{{ service.born_total }}</td>
            <td>{{ service.litter_weight_birth }}</td>
            <td>{{ service.weaned_male }}</td>
            <td>{{ service.weaned_female }}</td>
            <td>{{ service.total_weaned }}</td>
            <td>{{ service.weaning_weight }}</td>
            <td>{{ service.still_birth_abnormality }}</td>
            <td>{{ service.date_of_abortion }}</td>

            <td><form action="{% url 'deleteservice' gip service.pk %}" method="POST">
                {% csrf_token %}
                <input value='{{backbut}}' id='backbutton' name='backbutton' type='hidden'>
                
                <button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
            </form>
                </td>
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-between px-2">
    <form action="{% url 'successupdate' %}" method="get">
        <button class="btn btn-success btn-lg" type="submit">Modifier</button>
    </form>
    <button class="btn btn-secondary btn-lg" type="button" onclick="history.back()">Retour</button>
</div>

</div>
</div>

{% endblock content %}
