{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">

    <!-- Header Section -->
    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="display-5">{{ tablename }}</h2>
            <p class="text-muted">Formulaire pour mettre à jour les données.</p>
        </div>
    </div>

    <!-- Form Section -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-10">
            <form method="POST" class="shadow p-4 rounded bg-light">
                {% csrf_token %}
                <h4 class="mb-4">Modifier les Données</h4>
                <div class="mb-4">
                    {{ form|crispy }}
                </div>                
                <!-- Boutons de navigation -->
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success btn-lg" type="submit">Modifier</button>
                    <button class="btn btn-secondary btn-lg" type="button" onclick="history.back()">Annuler</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
